<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 事务管理 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务管理通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 
				重点：isolation - 事务隔离级别， MySQL默认是repeatable-read. Oracle默认是read-committed
			
				propagation - 事务传播特性，最常用的是REQUIRED
			 -->
			<tx:method name="save*" propagation="REQUIRED" isolation="DEFAULT"
				rollback-for="java.lang.Exception"/>
			<tx:method name="*" propagation="REQUIRED" isolation="DEFAULT"
				rollback-for="java.lang.Exception"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 事务切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution( * com.forest.service.*.*(..) )"/>
	</aop:config>

</beans>